.carrouselContainer {
    display: flex;
    width: 100%;
    height: 415px;
    position: relative;
    margin-bottom: 20px;
}

.carrousel {
    display: flex;
    border-radius: 20px;
    align-items: center;
    overflow: hidden; // Prevents unwanted spacing
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        margin-left: 0px;
    }

    button {
        color: white;
        background-color: transparent;
        border: none;
        width: 96px;
        height: 119px;
        font-size: 48px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2; 
    }

    button:focus, button:focus-visible {
        outline: none;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
}

.image-counter {
    position: absolute;
    bottom: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    justify-self: anchor-center;
    font-size: 18px;
    font-weight: 500;
  }

  h1 {
    position: relative; 
    color: #fff; 
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    z-index: 2; 
  }

  @media all and (max-width: 1024px) {

    .carrouselContainer {
        display: flex;
        width: 100%;
        height: 255px;
        position: relative;
        margin-bottom: 20px;
    }
    .carrousel {

        
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
            margin-left: 0px;
        }
    
        button {
            color: white;
            background-color: transparent;
            width: 0px;
            height: 0px;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2; 
        }
    
        button:focus, button:focus-visible {
            outline: none;
        }
    
        .prev {
            left: 0px;
        }
    
        .next {
            right: 0px;
        }
    }
    .image-counter {
        position: absolute;
        bottom: 10px;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        justify-self: anchor-center;
        font-size: 18px;
        font-weight: 500;
      }
  }