.DropDownContainer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 50px;
    align-items: center;    
    width: 1023px;
}

.DropDownContainer-Fiche {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    .dropDown {
        width: 582px;
    }
    .dropDown-descripton {
        display: flex;
        background: rgba(247, 247, 247, 0.45);
        border-radius: 0px 0px 5px 5px;
        margin-top: -5px; 
        width: 582px;
    }
}

.dropDown {
    display: flex;
    background-color: #FF6060;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: 1023px;
    object-fit: cover;
    height: 52px;
    border-radius: 5px;
    color: white;
    justify-content: space-between;

}

.dropDown h3, img {
    margin: 10px;
}

.dropDown-descripton {
    display: flex;
    background: rgba(247, 247, 247, 0.45);
    border-radius: 0px 0px 5px 5px;
    margin-top: -5px; 
    
}

.dropDown-descripton p {
    margin: 10px;
    text-align: left;
}

@media all and (max-width: 775px) {
    .DropDownContainer {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: stretch;
        justify-content: space-between;
    }

    .DropDownContainer .dropDown {
        width: 100%;
    }

    .DropDownContainer-Fiche {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        align-items: stretch;
        justify-content: space-between;
    }

    .DropDownContainer-Fiche .dropDown {
        width: 100%;
    }

  }