
footer {
    width: 100vw; // Ensures it takes the full viewport width
    height: 209px;
    background: #000000;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: white; // Ensure text is visible
    text-align: center;
  
    position: relative;
    flex-direction: column;

    position:absolute;
    bottom: auto;
    left: 0;

  }
  