
.galleryContainer {
    display: flex;
    background-color: #F6F6F6;
    left: 100px;
    top: 429px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 25px;
    padding: 40px;
    gap: 40px;
}

.gallery {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: space-around;
    width: 340px;
    height: 340px;
    background-color: rgb(255, 96, 96);
    border-radius: 10px;
    color: white;
    overflow: hidden;
    align-items: center;
}

.gallery img {
    display: flex;
    object-fit: cover;
    z-index: 1; 
    margin: 0;
}

.gallery p {
    position: absolute;
    left: 0%;
    width: 310px;
    bottom: 0;
    margin-bottom: 0;
    background: rgba(255, 96, 96, 0.6); 
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    z-index: 2; 
    color: white;
    height: 15%;
  }
