.tag-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tag-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    gap: 30px;
}

.tag {
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    margin-bottom: 0px;
}

.rating {
    display: flex;
    min-width: fit-content;
    gap: 20px;
}

.host-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media all and (max-width: 1024px) {
    .tag-parent {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        margin-top: 10px;
    }

    .tag-container {
        gap: 10px;
    }

    .tag {
        display: flex;
        width: 74px;
        padding-left: 5px;
        padding-right: 5px;
        min-width: fit-content;
        height: 18px;
        font-size: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;       
         
        
    }

    .rating img {
        width: 13px;
        height: 13px;
    }

    .rating{
        display: flex;
        gap: 10px;
        padding-bottom: 0px;
    }
    
  }
