.tag-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tag-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    gap: 30px;
}

.tag {
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
}

.rating {
    min-width: fit-content;
}

@media all and (max-width: 1024px) {
    .tag-parent {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .tag {
        display: flex;
        font-size: 12px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .rating img {
        width: 18px;
        height: 18px;
        margin: 5px;
    }

    .rating{
        display: flex;
    }
    
  }
